<h1>Dish</h1>

<p>Name: <%= @dish.name %> </p>
<p>Description: <%= @dish.description %> </p>
<p>Ingredients: 
  <%  @dish.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
  calories: <%= ingredient.calories %>
  <% end %>
</p>